@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        GetProvince(); //加载省份
        $("#Province").change(function () {
            GetCity();
        });
    });
    function GetProvince() {
        //        $("#Province").empty();
        $.getJSON(
            "/Home/GetProvincelist",
            function (data) {

                $.each(data, function (i, item) {
                    $("<option></option>").val(item["PID"]).text(item["ProvinceName"]).appendTo($("#Province"));
                })
            });
        //            GetCity();
    }
    function GetCity() {
        $("#City").empty();
        $.getJSON(
        "/Home/GetCitylist",
        { pid: $("#Province").val() },
        function (data) {
            $.each(data, function (i, item) {
                $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#City"));

            })
        });
    }
</script>
<div style="margin:50px 0">
    <span>省份：</span>
    <select id="Province">
        <option>请选择</option>
    </select>

    <span>市：</span>
    <select id="City">
        <option>请选择</option>
    </select>
</div>
